$overlay: #ccc;
$bg-white: #fff;
$bg-head-table: hsl(0, 0%, 45%);
$bg-odd-val-table: #b3b3b3;
$btn-submit: rgb(75, 75, 250);
$btn-create: rgb(80, 184, 80);
$btn-del: red;
$text-white: #fff;
$text-danger:red;
$text-black: #000;
$grey: #ccc;
$hover-primary-bg-color: #ddd;
$hover-secondary-bg-color: #ddd;


