@import '../variables';
.library-menu{
  width: 15%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: $bg-white;
  box-shadow: 25px -2px 24px -30px rgba(0, 0, 0, 0.45);
  .title{
    padding: 16px 8px;
    font-size: 14px;
  }
  #menu-list{
    padding: 0 12px;
    .children{
      padding: 12px 8px;
      border-radius: 10px;
      &:hover{
        cursor: pointer;
        background: $grey;
      }
      a{
        text-decoration: none;
        width: 100%;
        display: inline-block;
      }
      .chidren-header{
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      &.active{
        background: $grey;
        .children-books{
          max-height: 200px;
          margin-top: 12px;
        }
      }
      .children-books {
        max-height: 0;
        overflow: hidden;
        list-style-type: none;
        padding: 0;
        transition: max-height 0.3s ease-in-out;
        li {
          padding: 12px 8px;
          border-radius: 10px;
          &:hover{
            background: $hover-secondary-bg-color;
          }
        }
      }
    }
  }
}